
.container_cesta {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
}



.product_cesta img {
    width: 150px; /* Ajusta el tamaño de la imagen */
}

.product_cesta span {
    flex: 1; 
    font-size: 25px;
    color: #000000;
}

.product_cesta p{
    flex: 1;
}

button {
    background-color: #ea101a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s;
    padding: 10px;
    margin: 5px;
    height: 40px;
}

button:hover {
    background-color: #fe7b63;
}

.product_cesta {
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    display: none;
}

.buttons_cesta {
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; 
  }
  
